
*{
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
}


.jumbotron{
  background: url(http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg);
  background-size: cover;
  /*background-position: center;*/
  width: 100%;
  height: 700px;
}

.navbar-inverse {
    background-color: none;
    border-color: none;
}

.jumbotron{
  border: 3px solid red;
  display: flex;
}

.text{
  color:white;
  justify-content: center;
  margin: auto;
  font-family: 'Oswald';
  font-weight: 400;
}

.learnMore{
  color:white;
  background-color: #bdd436 !important;
  border: 2px solid #bdd436 !important;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 36px !important;
  border-radius: 25px;
  margin-top: 25px;
}

.digital{
  border: 2px solid red;
  letter-spacing: .7px;

}

p.workshop{
  border: 2px solid red;
  margin-top: 0;
  line-height: 1;
  font-size: 7vw;
  letter-spacing: 1px;
}
